body{
	width: 1024px;
	background-color: #fff;
	/*text-align:center;*/
	margin:0 auto;
	padding: 0px;
	overflow: scroll;	
}



header{
	/*border: 1px solid black;*/
	border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-o-border-radius: 10px 10px 0px 10px;
	box-shadow: 0px 0px 15px black;
	-webkit-box-shadow: 0px 0px 15px black;
	-moz-box-shadow: 0px 0px 15px black;
	-o-box-shadow: 0px 0px 15px black;
	width:1015px;
	background: rgba(255,255,255,1);
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 1px;
	padding-left: 5px;
	height: 170px;
	margin-top: 15px;
	font-size: 12px;
	text-align: right;
	vertical-align: text-bottom;
	}
direccion{
	/*border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-o-border-radius: 5px 5px 5px 5px;
	box-shadow: 0px 0px 15px black;
	-webkit-box-shadow: 0px 0px 15px black;
	-moz-box-shadow: 0px 0px 15px black;
	-o-box-shadow: 0px 0px 15px black;*/
	
	font-size: 14px;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	text-align: right;
	display: block;

	height: 25px;
	/*padding-right: 5px;*/
	/*margin: 5px;*/
}	
logoAlyEs{
	float: left;
	width: 380px;
	height: 115px;
	padding: 5px;
	}
animacion{
	background-color: #CCC;
	height: 88px;
	width: 400px;
	float: left;
	margin-left: 10px;
	display: inline;
	margin-top: 0px;
}
	
iso{
	width: 200px;
	/*right: 5px;*/
	float: right;
	display: block;
	height: 96px;
	}
nav{
	width:180px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	float: left;	/*display: block;*/
	/*height: 550px;	*/
	
}
section{
	float: right;
	text-align: justify;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 1.2em;
	list-style-image: url(../imagenes/BoloAlyEs.png);
	width: 780px;
}


carta img{
	float: left;	
	}
footer{
	font-family: Arial, Helvetica, sans-serif;
	width:1024px;
	height: 50px;
	/*-moz-box-shadow:
		0px 0px 5px rgba(000,000,000,0.8),
		inset 0px 0px 5px rgba(255,255,255,0.2);
	-webkit-box-shadow:
		0px 0px 3px rgba(000,000,000,0.8),
		inset 0px 0px 2px rgba(255,255,255,0.2);*/
	font-size: 14px;
	position: fixed;
	bottom: 10px;
	border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	-o-border-radius: 4px 4px 4px 4px;
	box-shadow: 0px 0px 15px black;
	-webkit-box-shadow: 0px 0px 15px black;
	-moz-box-shadow: 0px 0px 15px black;
	-o-box-shadow: 0px 0px 15px black;
	background: rgba(255,255,255,0.8);
}
.contacto #form1 #form1 {
	display: block;
	left: 0px;


}

footer img {
}

menuheader{
	font-family: Arial, Helvetica, sans-serif;
	border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-o-border-radius: 6px 6px 6px 6px;
	/*box-shadow: 0px 0px 15px black;
	-webkit-box-shadow: 0px 0px 15px black;
	-moz-box-shadow: 0px 0px 15px black;
	-o-box-shadow: 0px 0px 15px black;*/
	/*letter-spacing: 0.3em;*/
	font-size: 12px;
	width: 625px;
	/*background-color: #ED1C24;*/
	text-align: right;
	color: #666;
	height: 34px;
	float: left;
	left: 5px;
	/*letter-spacing: 0.2em;
	/*padding-left: 5px;*/
	margin-left: 5px;
	margin-top: 4px;
	padding-top: 4px;
}
menuheader img{
	padding-left: 18px;
	float: left;
	}
#marca{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #1C4E9C;
	float: right;
	width: 375px;
	right: 10px;
	height: 20px;
	padding-top: 10px;
	padding-right: 10px;
	letter-spacing: 4px;
	}

ul.boton a{
	text-decoration: none;
	list-style-type: none;
	font-size: 15px; /* alto de la div */
	font-family: Helvetica, Arial, sans-serif;
	left: 0px;
	display: block;
	font-weight: bold;
}
.css3button {

	background: -moz-linear-gradient(
		top,
		#5d9ff0 0%,
		#0e3bed);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#5d9ff0),
		to(#0e3bed));
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border: 1px solid #001aff;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.4);
}
ul.boton
{
	text-decoration: none;
	list-style-type: none;
}
ul li.section{
	list-style-type:disc;
	page-break-after: always;
}
ol li.section{
	page-break-after: always;
	list-style-type: decimal;
}
img. section{
border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-o-border-radius: 10px 10px 0px 10px;
}
/*.boton a:hover{
	display: block;
	position: relative;
	left: 20px;
	/*-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);*/
/*}*/

.como_pensamos a{
	text-decoration: none;
	margin-left:-40px;
	margin-top: 10px;
	color: #fff;
	padding: 5px 10px;
	border-radius: 8px;
	list-style-type: none;
	background-color: #1C4E9C;	
}
.como_pensamos a:hover{
	text-decoration: none;
	margin-left:-40px;
	margin-top: 10px;
	color: #006600;
	padding: 5px 10px;
	border-radius: 8px;
	list-style-type: none;
	background-color: rgba(154, 256, 77,0.5);
	
}
.como_pensamos-active a{
	text-decoration: none;
	margin-left:-40px;
	margin-top: 10px;
	color: #006600;
	padding: 5px 10px;
	border-radius: 8px;
	list-style-type: none;
	background-color: rgba(154, 256, 77,1);
	text-transform: uppercase;
	
}

.comopensamos a{
	text-decoration: none;
	list-style-type: none;
	margin-left:-40px;
	margin-top: 10px;
	color: #001C00;
	padding: 5px 10px;
	border-radius: 8px;
	background-color: rgba(26, 141, 141,1);
}

.bases a{
	text-decoration: none;
	list-style-type: none;
	margin-left:-40px;
	margin-top: 10px;
	color: #fff;
	padding: 5px 10px;
	border-radius: 8px;
	list-style-type: none;
	background-color: #1C4E9C;
}
.bases a:hover{
	text-decoration: none;
	list-style-type: none;
	margin-left:-40px;
	margin-top: 10px;
	color: #A8A800;
	padding: 5px 10px;
	border-radius: 8px;
	list-style-type: none;
	background-color: rgba(256,218,49,0.5);
}
.bases-active a{
	text-decoration: none;
	list-style-type: none;
	margin-left:-40px;
	margin-top: 10px;
	color: #A8A800;
	padding: 5px 10px;
	border-radius: 8px;
	list-style-type: none;
	background-color: rgba(256,218,49,1);
	text-transform: uppercase;
	font-style: italic;
}

.materiasprimas a{
	text-decoration: none;
	list-style-type: none;
	margin-left:-40px;
	margin-top: 10px;
	color: #fff;
	padding: 5px 10px;
	border-radius: 8px;
	list-style-type: none;
	background-color: #1C4E9C;
	}
.materiasprimas a:hover{
	text-decoration: none;
	list-style-type: none;
	margin-left:-40px;
	margin-top: 10px;
	color: #BFBF00;
	padding: 5px 10px;
	border-radius: 8px;
	list-style-type: none;
	background-color: rgba(241,234,99,0.5);
	}
.materiasprimas-active a{
	text-decoration: none;
	list-style-type: none;
	margin-left:-40px;
	margin-top: 10px;
	color: #BFBF00;
	padding: 5px 10px;
	border-radius: 8px;
	list-style-type: none;
	background-color: rgba(241,234,99,1);
	text-transform: uppercase;
	font-style: italic;
}
.dietetica a{
	text-decoration: none;
	list-style-type: none;
	margin-left:-40px;
	margin-top: 10px;
	color: #fff;
	padding: 5px 10px;
	border-radius: 8px;
	list-style-type: none;
	background-color: #1C4E9C;
}

.dietetica a:hover{
	text-decoration: none;
	list-style-type: none;
	margin-left:-40px;
	margin-top: 10px;
	color: #993300;
	padding: 5px 10px;
	border-radius: 8px;
	list-style-type: none;
	background-color: rgba(194,163,102,0.5);
}
.dietetica-active a{
	text-decoration: none;
	list-style-type: none;
	margin-left:-40px;
	margin-top: 10px;
	color: #993300;
	padding: 5px 10px;
	border-radius: 8px;
	list-style-type: none;
	background-color: rgba(194,163,102,1);
	text-transform: uppercase;
	font-style: italic;
}
.seguridad a{
	text-decoration: none;
	list-style-type: none;
	margin-left:-40px;
	margin-top: 10px;
	color: #fff;
	padding: 5px 10px;
	border-radius: 8px;
	list-style-type: none;
	background-color: #1C4E9C;
}
.seguridad a:hover{
	text-decoration: none;
	list-style-type: none;
	margin-left:-40px;
	margin-top: 10px;
	color: #009B9B;
	padding: 5px 10px;
	border-radius: 8px;
	list-style-type: none;
	background-color: rgba(0,256,256,0.5);
}
.seguridad-active a{
	text-decoration: none;
	list-style-type: none;
	margin-left:-40px;
	margin-top: 10px;
	color: #009B9B;
	padding: 5px 10px;
	border-radius: 8px;
	list-style-type: none;
	background-color: rgba(0,256,256,1);
	text-transform: uppercase;
	font-style: italic;
}
.criterios a{
	text-decoration: none;
	list-style-type: none;
	margin-left:-40px;
	margin-top: 10px;
	color: #fff;
	padding: 5px 10px;
	border-radius: 8px;
	list-style-type: none;
	background-color: #1C4E9C;
}
.criterios a:hover{
	text-decoration: none;
	list-style-type: none;
	margin-left:-40px;
	margin-top: 10px;
	color: #800000;
	padding: 5px 10px;
	border-radius: 8px;
	list-style-type: none;
	background-color: rgba(233,8,26,0.5);
}
.criterios-active a{
	text-decoration: none;
	list-style-type: none;
	margin-left:-40px;
	margin-top: 10px;
	color: #800000;
	padding: 5px 10px;
	border-radius: 8px;
	list-style-type: none;
	background-color: rgba(233,8,26,1);
	text-transform: uppercase;
	font-style: italic;
}
.gramaje a{
	text-decoration: none;
	list-style-type: none;
	margin-left:-40px;
	margin-top: 10px;
	color: #fff;
	padding: 5px 10px;
	border-radius: 8px;
	list-style-type: none;
	background-color: #1C4E9C;
	
}
.gramaje a:hover{
	text-decoration: none;
	list-style-type: none;
	margin-left:-40px;
	margin-top: 10px;
	color: #002B00;
	padding: 5px 10px;
	border-radius: 8px;
	list-style-type: none;
	background-color: rgba(51,179,26,0.5);
	
}
.gramaje-active a{
	text-decoration: none;
	list-style-type: none;
	margin-left:-40px;
	margin-top: 10px;
	color: #002B00;
	padding: 5px 10px;
	border-radius: 8px;
	list-style-type: none;
	background-color: rgba(51,179,26,1);
	text-transform: uppercase;
	font-style: italic;
}
.personal a{
	text-decoration: none;
	list-style-type: none;
	margin-left:-40px;
	margin-top: 10px;
	color: #fff;
	padding: 5px 10px;
	border-radius: 8px;
	list-style-type: none;
	background-color: #1C4E9C;
}
.personal a:hover{
	text-decoration: none;
	list-style-type: none;
	margin-left:-40px;
	margin-top: 10px;
	color: #B33A00;
	padding: 5px 10px;
	border-radius: 8px;
	list-style-type: none;
	background-color: rgba(243,166,108,0.5);
}
.personal-active a{
	text-decoration: none;
	list-style-type: none;
	margin-left:-40px;
	margin-top: 10px;
	color: #B33A00;
	padding: 5px 10px;
	border-radius: 8px;
	list-style-type: none;
	background-color: rgba(243,166,108,1);
	text-transform: uppercase;
	font-style: italic;
}
.vigilancia a{
	text-decoration: none;
	list-style-type: none;
	margin-left:-40px;
	margin-top: 10px;
	color: #fff;
	padding: 5px 10px;
	border-radius: 8px;
	list-style-type: none;
	background-color: #1C4E9C;
}
.vigilancia a:hover{
	text-decoration: none;
	list-style-type: none;
	margin-left:-40px;
	margin-top: 10px;
	color: #804000;
	padding: 5px 10px;
	border-radius: 8px;
	list-style-type: none;
	background-color: rgba(243,224,198,0.5);
}
.vigilancia-active a{
	text-decoration: none;
	list-style-type: none;
	margin-left:-40px;
	margin-top: 10px;
	color: #804000;
	padding: 5px 10px;
	border-radius: 8px;
	list-style-type: none;
	background-color: rgba(243,224,198,1);
	text-transform: uppercase;
	font-style: italic;
}
.construccion{
	font-family:"Script MT Bold", Arial, Helvetica, sans-serif;
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-size: 36px;
	/*font-weight: bolder;*/
	color: #999;
	text-shadow: 1px 1px 1px #666, 0 0 1em #888, 0 0 0.2em #888;
	-webkit-text-shadow: 1px 1px 1px #666, 0 0 1em #888, 0 0 0.2em #888;
	-moz-text-shadow: 1px 1px 1px #999, 0 0 1em #777, 0 0 0.2em #333;
	-o-text-shadow: 1px 1px 1px #666, 0 0 1em #888, 0 0 0.2em #888;
	
  
	
	}
.numeros {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: 900;
}
menuheader  a {
	text-decoration: none;
	color: #FFF;
}
menuheader  a:link {
	text-decoration: none;
	color: #FFF;
}
menuheader  a:hover {
	text-decoration: underline;
	color: #FF8C8C;
}
menuheader  a:visited {
	text-decoration: underline;
	color: #820000;
}

header  a {
	text-decoration: none;
	color: #FFF;	
}
header  a:link {
	text-decoration: none;
	color: #FFF;	
}
header  a:hover {
	text-decoration: none;
	color: #FF8C8C;
	font-style: italic;
}
header  a:visited {
	text-decoration: underline;
	color: #820000;
}
section img {
	border-radius: 20px 20px 20px 20px;
	-webkit-border-radius: 20px 20px 20px 20px;
	-moz-border-radius: 20px 20px 20px 20px;
	-o-border-radius: 20px 20px 20px 20px;
	float: right;
	
	/*Doble Borde border:6px solid #ccc; padding:5px; background:#eee; 

	/*-moz-radial-gradient: 50% 50% , circle , rgba(255, 255, 255, 0) 50px, #FFFFFF 70px repeat scroll 0 0 transparent;*/
}
.izq {
	padding-right: 10px;
	left: 0px;
}
.alyes {
	color: #1C4E9C;
	font-weight: bold;
}
.comopensamos{
	color: #99CCFF;
}


.bases {
color:#FFD930; 
}
.materiasprimas {
color:rgba(241,234,99,1) ;
}
.dietetica {
color:rgba(194,163,102,1); 
}
.seguridad{
color:rgba(0,256,256,1);
}
.criterios{
color:rgba(233,8,26,1);
}
.gramaje{
color:rgba(51,179,26,1);
}
.personal{
color:rgba(243,166,108,1);
}
.vigilancia{
color:rgba(243,224,198,1);
}
.vigilanciaapartado{
	color:#804000;
	font-size: 30px;
}
.vigilancianumero{
	color:#804000;
	font-size: 36px;
	font-style: italic;
	font-weight: bold;
}
.vigilancianumeromenu{
	color:#804000;
	font-size: 15px;
	font-style: italic;
	font-weight: bold;
}
.vigilancianumeromenu-active{
	color:#804000;
	font-size: 15px;
	font-style: italic;
	font-weight: bold;
	background-color: #D9AB22;
	display: block;
}
.vigilancianumeromenu-active a{
	color:#804000;
	font-size: 15px;
	font-style: italic;
	font-weight: bold;
	background-color: #D9AB22;
	display: block;
}
.vigilancianumerogrande {
	color:#FFC993;
	font-size: 30px;
}

.vigilancianumero a{
	color:#FFC993;
	font-size: 30px;
}
/*.vigilancianumero a:hover{
	color:#804000;
	font-size: 30px;
}*/
.vigilanciadestaca{
	color:#FFB871;
	font-weight: bold;
	text-decoration: none;
}
.vigilanciadestacamenu{
	color:#FFB871;
	font-weight: bold;
	text-decoration: none;
}
.vigilanciadestacamenu-active{
	color:#FFB871;
	font-weight: bold;
	text-decoration: none;
	background-color: #D9AB22;
	display: block;
}
.vigilanciadestacamenu-active a{
	color:#600;
	font-weight: bold;
	text-decoration: none;
	background-color: #D9AB22;
	display: block;
}
.vigilanciadestaca a{
	color:#C08325;
	font-weight: bold;
	text-decoration: none;
}
.vigilanciadestacamenu a{
	color:#C08325;
	font-weight: bold;
	text-decoration: none;
	font-size: 12px;
}
.vigilanciadestaca a:hover{
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
	
}
.vigilanciadestacamenu a:hover{
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
	
}
.volver{
	color:#00F;
	font-weight: bold;
	text-decoration: none;
}
.volver a{
	font-weight: bold;
	color:#00F;
}
.volver a:hover{
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
	color:#777;
}
.volver a:link{
	font-weight: bold;
	font-style: italic;
	color:#777;	
}
/*Tablas*/
table {
	width: 600px;
	margin:0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	/*color: #008000;*/
	

}
/*.contacto #form1 #form1 {
	width: 300px;
}*/
.contacto table {
	width: 600px;
	margin:0;
	padding:0;
	font-family: Georgia, "Times New Roman", Times, serif;
	left: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

table, tr, th, td {
	border-collapse: collapse;
	font-size: 20px;
	text-align: left;
	margin-left: 10px;
	color: #000;

}
.contacto table, tr, th, td {
	/*border-collapse: collapse;*/
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	font-size: 18px;
	color: #1C4E9C;
	width: 740px;
}

caption {
	margin:0;
	padding:0;
	background: #f3f3f3;
	height: 40px;
	line-height: 40px;
	text-indent: 28px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #555d6d;
	text-align: left;
	letter-spacing: 3px;
	border-top: dashed 1px #c2c2c2;
	border-bottom: dashed 1px #c2c2c2;

}



/* HEAD */



thead {

	background-color: #FFFFFF;

	border: none;

}

thead tr th {
	height: 32px;
	line-height: 32px;
	text-align: center;
	color: #CCFFCC;
	background-image: url(../imagenes/col_bg.gif);
	background-repeat: repeat-x;
	border-collapse: collapse;
	/*border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #00FF00;
	border-left-color: #00FF00;*/
	background-color: #003300;
	

}
.contacto thead tr th {
	height: 10px;
	line-height: 10px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

/* BODY */



tbody tr {
	font-size: 20px;
	text-align: left;
	text-indent: 10px;
	background-color: #00B300;
	color: #003700;
}

.contacto tbody tr {
	font-size: 18px;
	text-align: left;
	background-color: #FFFFFF;
	color: #1C4E9C;
	font-weight: bold;
	width: 200px;
	height: 10px;
}

tbody tr.odd {
	background-color: #CFC;
}
.contacto tbody tr.odd {
	background-color: #FFFFFF;
}
tbody tr:hover, tbody tr.odd:hover {
	background-color: #FFF;
}
.contacto tbody tr:hover, tbody tr.odd:hover {
	background-color: #FFFFFF;
	font-style: normal;	
}

tbody tr td {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	padding: 6px;
	/*border: 1px solid #004A00;*/
	text-align: right;
	width: 40px;
	border-bottom-width: 1px;
	border-bottom-color: #003700;
	color: #030;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-width: 1px;
	
}

.contacto tbody tr th {
	text-align: left;
	height: 10px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	color: #1C4E9C;
}
.contacto tbody tr td {
	text-align: left;
	height: 10px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	color: #1C4E9C;
}

tbody tr th {
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	font-size: 20px;
	padding: 5px;
	text-align: left;
	font-weight: bold;
	color: #030;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #003700;
}
.contacto tbody tr th {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 24px;
	padding: 5px;
	text-align: left;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	height: 10px;
}
tbody tr.odd th{
	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;
	font-size: 20px;
	padding: 5px;
	text-align: left;
	font-weight: bold;
	color: #003700;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	background-color: #CFC;
}
.contacto tbody tr.odd th{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	padding: 5px;
	text-align: left;
	font-weight: bold;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}


tbody tr th:hover {
	/*background-position: left;*/
	text-align: left;
	color: #003300;
	background-color: #FFFFFF;


}
.contacto tbody tr th:hover {
	/*background-position: left;*/
	text-align: left;
	color: #0F9;
}



/* LINKS */



/*table a {

	color: #FF6600;

	text-decoration: none;

	font-size: 13px;

	border-bottom: solid 1px white;

}

table a:hover {

	color: #FF9900;

	border-bottom: none;

}
*/


/* FOOTER */



tfoot {

	background: #f3f3f3;

	height: 24px;

	line-height: 24px;

	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;	

	font-size: 14px;

	font-weight: bold;

	color: #555d6d;

	text-align: center;

	letter-spacing: 3px;

	border-top: solid 2px #326e87;

	border-bottom: dashed 1px #c2c2c2;

}

tfoot tr th, tfoot tr td {

	/*padding: .1em .6em;*/

	

}

tfoot tr th {

	border-top: solid 1px #326e87;

}

tfoot tr td {
	text-align: right;
	color: #666;

}
carta img {
	float: left;
}
.contacto #form1 #form1 tr td #form1 #motivo {
	float: left;
	margin-left: 10px;
}
.Estilo3 {color: #1A1A8D; }
.Estilo1 {
	color: #0066FF;
	font-weight: bold;
}
.Estilo2 {
	font-family: Arial, Helvetica, sans-serif;
	float: right;
}
.Estilo4 {font-size: 0.8em}

@font-face {
  font-family: "Script MT Bold";
  src: url("../Fuente/Script-MT-Bold.ttf");
}

.aviso a{
	color: #e2001a;
	}

footer a {
	text-decoration: underline;
	color: #e2001a;	
}
/*footer  a:link {
	text-decoration: none;
	color: #FFF;	
}*/
footer  a:hover {
	text-decoration: none;
	color: #004b92;
	
}
/*footer  a:visited {
	text-decoration: underline;
	color: #820000;
}
*/


#logoALyESfooter {
	position: relative;
	left: 15px;
	float: left;
	padding-right: 45px;
}
#logoISOfooter {
	right: 10px;
	position: relative;
	width: 101px;
	float: right;
	padding-top: 4px;
}
#direccionfooter {
	position: relative;
	width: 700px;
	float: left;
	display: block;
	vertical-align: text-bottom;
	text-align: center;
	height: 38px;
	padding-left: 20px;
	padding-top: 10px;
}
#mapa {
	width: 760px;
	height: 360px;
	text-align: center;
	margin-top: 0;
	margin-right: -50px;
	margin-bottom: 40;
}
.negrita {
	font-weight: bold;
}
.alyesMapa {
	font-size: 16px;
	color: #666;
	text-align: center;
}
#commentForm {
	width: 740px;
	color: #004392;
	text-align: left;
	font-size: 0.8em;
	font-weight: bold;
	/*background-color: #FFF;*/
}
#commentForm label { width: 250px; }
#commentForm label.error{
	margin-left: 20px;
	font-size: 12px;
	color: #C00;
}

#commentForm input.submit {
	margin-left: 20px;
	
}
#signupForm { width: 670px; }
#signupForm label.error {
	margin-left: 5px;
	width: auto;
	display: inline;
}
#newsletter_topics label.error {
	display: none;
	margin-left: 10px;
	
}
.mostrartablas {
	font-family: Arial, Helvetica, sans-serif;
	color: #900;
}
#tablaGramaje{
	background-color: #FFF;
	}
#rueda img{
	margin-left: 160px;
}
.guionblanco {
	color: #FFF;
}

#barraaceptacion {
    display:none;
    position:fixed;
    left:0px;
    right:0px;
    bottom:0px;
    padding-bottom:20px;
    width:100%;
    text-align:center;
    min-height:40px;
    background-color: rgba(0, 0, 0, 0.5);
    color:#fff;
    z-index:99999;
}
 
.inner {
    width:100%;
    position:absolute;
    padding-left:5px;
    font-family:verdana;
    font-size:12px;
    top:30%;
}
 
.inner a.ok {
    padding:4px;
    color:#00ff2e;
    text-decoration:none;
}
 
.inner a.info {
    padding-left:5px;
    text-decoration:none;
    color:#faff00;
}
